
body{
	background: #F2F2F2 ;
}
.main{
	float: none;
	padding-top: 100px;
}
.main img{
	margin: 10px auto 40px auto;
}
.form-horizontal .control-label{
	padding-right: 0;
}
.Hint{
	height: 18px;
	padding-left: 20%;
	font-size: 12px;
	color: #F5716E;
	margin-top: 3px;
	font-weight: 500;
}
.main_err{
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
	color: #989DA5;
	margin-top: 15px;
	text-align: left;
	font-size: 12px;
}
.main_submit{
	float: none;
	text-align: center;
}
.main_submit div>button{
	margin:0px 10px;
}
.main p{
	color: #989DA5;
	text-align: center;
}
.main p a{

}
.form-horizontal{
	margin-bottom: 60px;
}
.alert{
	position: absolute;
	top: 0;
	left: 15%;
	display: none;
}
#passwordone{
	position: relative;
}
.glyphicon-eye-close {
	position: absolute;
	top: 11px;
	right: 32px;
	display: none;
}
.glyphicon-eye-open {
	position: absolute;
	top: 11px;
	right: 32px;
	
}